In [6]:
import pandas as pd
import numpy as np

# Sample data
data = {
    "Cabin": [np.nan, "C85", np.nan, "C123", np.nan],
    "Ticket": ["A/5 21171", "PC 17599", "STON/O2. 3101282", "113803", "373450"],
    "number": ["5", "3", "6", "3", "A"],  # mixed numeric/categorical
    "Survived": [0, 1, 1, 1, 0]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
  Cabin            Ticket number  Survived
0   NaN         A/5 21171      5         0
1   C85          PC 17599      3         1
2   NaN  STON/O2. 3101282      6         1
3  C123            113803      3         1
4   NaN            373450      A         0

In [8]:
df.head()

  Cabin            Ticket number  Survived
0   NaN         A/5 21171      5         0
1   C85          PC 17599      3         1
2   NaN  STON/O2. 3101282      6         1
3  C123            113803      3         1
4   NaN            373450      A         0

In [9]:
df.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [10]:
df['number'].unique()

array(['5', '3', '6', 'A'], dtype=object)

In [12]:
# extract numerical part
df['number_numerical'] = pd.to_numeric(df["number"],errors='coerce',downcast='integer')

In [ ]:
df['number_categorical'] = np.where(df['number_numerical'].isnull(),df['number'],np.nan)

df.head()